-f https://wheelhouse.odoo-community.org/oca
odoo-autodiscover==2.0.0
setuptools-git==1.1
setuptools-odoo==2.0.2.post1
-e git+https://github.com/odoo/odoo.git@11.0#egg=odoo

# OCA/bank-payment
-e git+https://github.com/etobella/bank-payment.git@11.0-mig-account_payment_mode#egg=odoo11_addon_account_payment_mode&subdirectory=setup/account_payment_mode

